---
import Base from "@layouts/Base.astro";
import Default from "@layouts/Default.astro";
import PostSingle from "@layouts/PostSingle.astro";
import PostSingleTest from "../layouts/PostSingleTest1.astro";
import { getSinglePage } from "@lib/contentParser.astro";

import { fetchApiListPosts } from '../api/apiListPosts.astro';
import {fetchApiSinglePost} from '../api/apiSinglePost.astro';

// const getPosts = await getSinglePage("posts");
// const postsSlug = getPosts.map((item) => item.slug);
const postsSlug = [5, 6];

export async function getStaticPaths() {
  // const posts = await getSinglePage("posts");
  // const pages = await getSinglePage("pages");
  // const allPages = [...pages, ...posts];
  // console.log(allPages)

  // const paths = allPages.map((page) => ({
  //   params: {
  //     regular: page.slug,
  //   },
  //   props: { page },
  // }));
  // console.log(paths)
  // return paths;
  const data = await fetchApiListPosts();
  const paths = data.map((page: any) => ({
    params: {
      regular: page.id,
    },
    props: { page },
  }));
  return paths;
}

const { page } = Astro.props;
const { title, meta_title, description, image } = page;
const post = await fetchApiSinglePost(page.id)

---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <!-- {
    postsSlug.includes(page.id) ? (
      <h1>dfgdfg</h1>
      <PostSingle post={page} />
    ) : (
      <Default data={page} />
    )
  } -->
  {
    postsSlug.includes(page.id) ? (
      <PostSingleTest post={post} />
    ) : (
      <Default data={page} />
    )
  }
</Base>
