---
import Base from "@layouts/Base.astro";
import Posts from "@layouts/Posts.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import taxonomyFilter from "@lib/utils/taxonomyFilter";
import { humanize } from "@lib/utils/textConverter";

import PostsTest from "@layouts/PostsTest.astro";
import config from "@config/config.json";

import {fetchCategoriesList} from '../../api/categories';
import {fetchFilterCategories} from '../../api/data'

export async function getStaticPaths() {
  const categories = await fetchCategoriesList();

  const paths = categories.items.map((category: any) => ({
    params: {
      category: category.slug,
    },
    props: {category} ,
  }));
  return paths;
}

const { category } = Astro.props;

const posts = await fetchFilterCategories("blog.BlogPage", "description,date_post,feed_image,categories(name),author",'-first_published_at', config.settings.pagination, category.id);

const filterByCategory = posts.items.slice(0, config.settings.pagination);
const title = category.name
---

<Base title={title || "Category"}>
  <div class="section">
    <div class="container">
      <p class="text-center mb-4">Showing Posts From</p>
      <h1 class="h2 mb-16 text-center text-primary">{title}</h1>
      <PostsTest posts={filterByCategory} className="mb-16"/>
      <!-- <Posts posts={filterByCategory} fluid={false} /> -->
    </div>
  </div>
</Base>
